@model List<OnAuction.Models.LotAndBetAndBestBetVM>
@{
    ViewBag.Title = "MyBetsActive";
}

<h2>Активні ставки</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Назва лоту</th>
            <th class="text-center">Моя ставка, грн.</th>
            <th class="text-center">Найвища ставка, грн.</th>
            <th class="text-center">Дата закінчення лоту</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; ++i)
        {
        <tr>
            <th class="text-right">@(i + 1)</th>
            <td class="wrap-text" title="@Model[i].Lot.Title">@Html.ActionLink(Model[i].Lot.Title, "Info", "Lot", new { LotId = Model[i].Lot.Id }, "")</td>
            @if (Model[i].Bet.Price == Model[i].BestBet.Price)
            {
                <td>@Model[i].Bet.Price</td>
            }
            else
            {
                <td style="color: red;">@Model[i].Bet.Price</td>
            }
            <td>@Model[i].BestBet.Price</td>
            <td>@Model[i].Lot.FinishTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
        </tr>
        }
    </tbody>
</table>
